.text-center
	text-align center

.block-link
	color inherit
	border none
	padding 0
	margin 0

	&:hover
		color inherit

#site
	overflow hidden
	min-height 100vh
	position relative
	display flex
	flex-direction column
	justify-content space-between

.wrapper
	max-width 700px
	margin 0 auto
	padding 0 1rem

	&.fat
		max-width 1000px

#site-content
	p
		line-height 1.8em
		margin 1em 0

.scroll-to-main
	display inline-block
	padding 1rem
	cursor pointer

.small-block-item
	header h3
		margin-top 0

section, article
	&.content
		padding 1em 0

	&.alt-bg
		// background-color rgba(255, 255, 255, 0.1)
		background-color alpha($brand-primary-color, 10%)

button, form input, .btn, .button
	&.primary
		border-color $brand-primary-color
		background-color alpha($brand-primary-color, 0.8)
		color #fff
		text-transform uppercase
		font-size 2.4rem
		padding 0.6em 1.2em
	
		&:hover
			background-color $brand-primary-color

.avatar
	width 256px
	height 256px
	border-radius 128px

#site-content
	.small-post
		background-color rgba(255, 255, 255, 0.05)
		border-radius 0.4rem
		text-align left
		padding 2em

		background-position center
		background-size cover
		position relative

		&:hover
			.small-post-background-overlay
				opacity 0.8

			.post-date
				opacity 1
				color #fff

		header
			display flex
			justify-content space-between
			align-items flex-start

		.small-post-background-overlay
			content ' '
			position absolute
			top 0
			bottom 0
			left 0
			right 0
			width 100%
			height 100%
			background-color #000
			opacity 0.7
			// border solid 1px rgba(255, 255, 255, 0.2)
			z-index 5
			border-radius 0.3rem
			transition opacity 0.2s ease

		.post-date
			line-height 1em
			float right
			position relative
			z-index 10
			transition color 0.2s ease, opacity 0.2s ease

		.post-title
			font-size 2.4rem
			position relative
			z-index 10
			margin 0
			margin-bottom 1em
			text-align left
			color $brand-primary-color

		.post-description
			font-size inherit
			clear both
			position relative
			z-index 10
			margin 0
			padding 0

form
	.field
		margin-bottom 0.5em

		label
			font-size 16px
			text-transform uppercase
