$mobile-breakpoint = 700px
$mobile-s-breakpoint = 400px

// $brand-primary-color = #2274A5
$brand-primary-color = #e03d5a

$link-color = lightness($brand-primary-color, 20%)
$link-color = $brand-primary-color

$background-color = #111
$copy-color = #fff
